body {
 font-family: 'Lato', sans-serif;
 background-color: #00284A;
}

h1 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

h2, h3, h4, h5, h6, p {
    color: #ED7703;
    font-family: 'Lato', sans-serif;
}

tbody, tfoot, thead, tbody tr:nth-child(even) {
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

table h1 {
    font-weight: bold;
}

hr {
    margin-bottom: 4rem;
}

.schools-list p {
    margin-bottom: 0.1rem;
    color: #ffffff;
}


.breadcrumbs li {
    text-transform: capitalize;
    padding-top: 1rem;
}

.card-divider {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	background: #e6e6e6;
}

.top-bar {
    border-bottom: 1px solid black;
}

.top-bar, .top-bar ul {
	background-color: #fff;
}

body {
	color: #002847;
}


/* Cards */

.card {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    background: #fefefe;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    color: #0a0a0a;
}

.card .button {
	margin-bottom: 0;
}

.card-section {
	-webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 1rem;
}